ip/ALTPLL/ATLPLL.ppf
ip/ALTPLL/ATLPLL.v
ip/ALTPLL/ATLPLL_bb.v
ip/ALTPLL/ATLPLL_inst.v
quartus/incremental_db/
quartus/simulation/modelsim.ini
quartus/simulation/modelsim/msim_transcript
quartus/simulation/modelsim/rtl_work/
quartus/simulation/modelsim/timer_top.sft
quartus/simulation/modelsim/timer_top.svo
quartus/simulation/modelsim/timer_top.vo
quartus/simulation/modelsim/timer_top_modelsim.xrf
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak1
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak10
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak11
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak2
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak3
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak4
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak5
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak6
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak7
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak8
quartus/simulation/modelsim/timer_top_run_msim_rtl_verilog.do.bak9
quartus/simulation/modelsim/tr_db.log
quartus/simulation/modelsim/vsim.wlf
quartus/simulation/modelsim/vsim_stacktrace.vstf
quartus/simulation/transcript
quartus/simulation/verilog_libs/
quartus/timer_top.qws
quartus/timer_top_nativelink_simulation.rpt
